@if (Request.IsAuthenticated)
{
    <text>
        @Html.ActionLink("Admin meny", "Login", "Account")
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" , style="display:inline"}))
        {
            @Html.AntiForgeryToken()
            <a id="logout" class="btn btn-danger" style="color:#fff" href="javascript:document.getElementById('logoutForm').submit()">Logg av fra admin</a>
        }
    </text>
}
@*else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@