

<div class="main">
    <div class="container">
        <section class="call_to_action four-o-four">
            <i class="fa fa-ambulance"></i>
            <h3>feilmelidng 404 - ingen grunn til panikk...</h3>
            <h4>
                sannsynligvis har du skrevet feil i url'en.
            </h4><br /><br />
            Prøv igjen eller klikk tilbake til start @Html.ActionLink("Startsiden", "Index", "Home")

        </section>
    </div>
</div>
